<div id="decodings_more" class="load-more">
  <% if pagy&.next %>
    <%= button_to "Load more", decodings_path(page: pagy.next), method: :get,
          form: { data: { turbo_stream: true } }, class: "btn" %>
  <% end %>
</div>
