<div class="flash flash--<%= type %>" data-controller="toast">
  <span class="flash__text"><%= message %></span>
  <button type="button" class="flash__close" data-action="toast#dismiss" aria-label="Dismiss">✕</button>
</div>
