<% content_for :title, "Forgot password" %>
<div class="auth card">
  <h1>Forgot your password?</h1>
  <%= form_with url: passwords_path, class: "form" do |form| %>
    <label class="field">Email
      <%= form.email_field :email_address, required: true, autofocus: true,
            autocomplete: "username", value: params[:email_address] %>
    </label>
    <%= form.submit "Email reset instructions", class: "btn btn--primary" %>
  <% end %>
  <p class="muted"><%= link_to "Back to log in", new_session_path %></p>
</div>
