<div id="<%= kind %>s_more" class="load-more">
  <% if pagy&.next %>
    <%= button_to "Load more", images_path({ "#{kind}_page" => pagy.next, tab: kind }), method: :get,
          form: { data: { turbo_stream: true } }, class: "btn" %>
  <% end %>
</div>
